html, body, #app, #root, #app>div {
  height: 100%;
  background: linear-gradient(0deg,#eafffb 0%, #c1edff 80%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root  {
  background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg');
  background-size:cover;
      -webkit-animation: slidein 100s;
      animation: slidein 100s;

      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

      -webkit-animation-direction: alternate;
      animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.outer-cloud {
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.cloud {
  z-index: 1;
  font-size: 500px;
  animation: cloud;
  animation-duration: 20s;
}

@keyframes cloud {
  from {
    margin: 20px 0 0 0;
  }
  to {
    margin: 20px 0 0 1000px;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-skies {
  background: linear-gradient(0deg,#eafffb 0%, #c1edff 80%);
  width: 100%;
  height: 100%;
}