html, body, #app, #root, #app>div {
  height: 100%;
  background: linear-gradient(0deg,#eafffb 0%, #c1edff 80%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-cloud {
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.cloud {
  z-index: 1;
  font-size: 500px;
  animation: cloud;
  animation-duration: 20s;
}

@keyframes cloud {
  from {
    margin: 20px 0 0 0;
  }
  to {
    margin: 20px 0 0 1000px;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: whitesmoke;
  width: 35%;
  height: 60%;
  border-radius: 3px;
  z-index: 2;
}

.clear-skies {
  background: linear-gradient(0deg,#eafffb 0%, #c1edff 80%);
  width: 100%;
  height: 100%;
}